* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: 'PFBeauSansPro';
	src: url('../fonts/PFBeauSansPro-Regular.woff') format('woff'),
		url('../fonts/PFBeauSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PFBeauSansPro';
	src: url('../fonts/PFBeauSansPro-Bold.woff') format('woff'),
		url('../fonts/PFBeauSansPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

:root {
    --black: #1F262C;
    --orange: rgb(234,158,68);
    --yellow: rgb(237,201,125)
}

body {
    font-family: PFBeauSansPro, sans-serif;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

input,
textarea,
button,
select {
    font-family: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    min-width: 270px;
    max-width: 100%;
    padding: 25px 40px;
    height: 70px;
    border: 0;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.btn--orange {
    background-image: linear-gradient(0deg, var(--orange) 0%, var(--yellow) 100%);
    box-shadow: 0px 10px 25px 0px rgba(217, 172, 76, 0.3);
    color: #fff;
    transition: all 0.25s;
}

.btn--orange:hover {
    box-shadow: 0px 15px 25px 0px rgba(217, 172, 76, 0.45);
}

.our-family {
    overflow-x: hidden;
    padding: 50px 0;
    background: url(../images/lighthouse.png) no-repeat 0 calc(100% - 30px),
                url(../images/compass.png) no-repeat calc(100% - ((100% - 1200px) / 2) - 150px) 50%;
    background-color: #F9F9F9;
}

.our-family__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.our-family__title {
    margin-bottom: 65px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 38px;
}

.our-family__img--desktop {
    transform: translateX(5%);
}

.our-family__img--mobile {
    display: none;
}


@media (max-width: 1200px) {

    .our-family {
        background-image: none;
    }

    .our-family__content {
        background: url(../images/compass.png) no-repeat 50% 50%;
    }

    .our-family__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }

    .our-family__title {
        margin-bottom: 40px;
        text-align: center;
        font-size: 30px;
    }
    
    .our-family__img--desktop {
        display: none;
    }

    .our-family__img--mobile {
        display: block;
        max-width: 80%;
        margin-bottom: 30px;
    }

}

@media (max-width: 768px) {

    .our-family__content {
        background-size: 100%;
    }

    .our-family__title {
        margin-bottom: 30px;
        font-size: 22px;
    }

}